@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
.bg-dark {
  background-color: #343A40 !important;
}

.nav-link,
.bi-cart3 {
  color: #CED4DA !important;
}

.nav-item:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.btn {
  background-color: #DEE2E6;
  color: #212529;
  border-color: #212529;
}

.btn:hover {
  background-color: #212529;
  color: #DEE2E6;
  border-color: #DEE2E6;
}

.btn:focus {
  -webkit-box-shadow: 0 0 0.4rem #f8f9fa63;
          box-shadow: 0 0 0.4rem #f8f9fa63;
}

.accordion-button:not(.collapsed) {
  color: #F8F9FA;
}

.accordion-button:focus {
  -webkit-box-shadow: 0 0 0.4rem #f8f9fa63;
          box-shadow: 0 0 0.4rem #f8f9fa63;
}

.card {
  background-color: #CED4DA;
  border-color: #CED4DA;
  color: #212529;
  -webkit-box-shadow: 0 0 10px #00000079;
          box-shadow: 0 0 10px #00000079;
  transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
}

.card .title {
  color: #212529;
}

.card .badge {
  top: 0.5rem;
  right: 0.5rem;
}

.card:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.faq__card {
  background-color: #495057;
  border-color: #CED4DA;
  color: #212529;
  -webkit-box-shadow: none;
          box-shadow: none;
  transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
}

.modal-content {
  background-color: #343A40 !important;
  color: #F8F9FA;
}

.modal-content .btn-close {
  background-color: #F8F9FA;
}

.about-us-container,
.where-container {
  color: #F8F9FA;
  border-bottom: none;
}

.about-us-container img,
.where-container img {
  -webkit-box-shadow: 0 0 10px #00000079 !important;
          box-shadow: 0 0 10px #00000079 !important;
}

.about-us__row-team {
  color: none;
  border-bottom: 1px solid #212529;
}

.about-us__col-team {
  color: #F8F9FA;
}

.about-us__col-team h2, .where__col h2 {
  font-size: 0.4rem;
}

.about-us__col-team h2, .where__col h2 {
  font-size: 0.8rem;
}

.about-us__col-team h2, .where__col h2 {
  font-size: 1.2rem;
}

.about-us__col-team h2, .where__col h2 {
  font-size: 1.6rem;
}

.about-us__col-team h2, .where__col h2 {
  font-size: 2rem;
}

.font-400 {
  font-size: 400;
}

.font-italic {
  font-size: italic;
}

.font-700 {
  font-size: 700;
}

.font-color-1 {
  color: #495057;
}

.font-color-2 {
  color: #F8F9FA;
}

.font-color-3 {
  color: #343A40;
}

.text-muted {
  color: #CED4DA !important;
}

.checkout-title {
  font-weight: 700;
  font-style: italic;
}

.back-link {
  font-style: italic;
}

body {
  background-color: #6C757D;
  font-family: "Roboto", sans-serif;
}

.color-text {
  color: #F8F9FA;
}

a {
  color: #F8F9FA;
}

a:hover {
  color: #495057;
}

.container-hero {
  background-color: #495057;
}

.container-hero__carousel-item {
  -webkit-box-shadow: 0 0 10px #00000079;
          box-shadow: 0 0 10px #00000079;
}

.accordion-item,
.accordion-button {
  background-color: #6C757D;
}
/*# sourceMappingURL=styles.css.map */