body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* -----Barra de navegacion superior sector superior-----*/
.nav-container-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9B9C9C;
    color: #F8F9FA;
}
.nav-container-top__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.search-container{
    display: flex;
    justify-content: center;
    width: 30%;
}
.search-container__form{
    display: flex;
    width: 100%;
}
.search-container__search{
    display: flex;
    width: 100%;
}

.nav-container-top__sign ul{
    display: flex;
    padding: 0;
}
.nav-container-top__sign li{
    list-style: none;
    margin: 0 10px;
}
.nav-container-top__sign a{
    text-decoration: none;
    color: #F8F9FA;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-container-top__sign a:hover{
    text-decoration: underline;
}

/* -----Barra de navegacion superior sector inferior-----*/
.nav-container-down{
    display: flex;
    justify-content: center;
    background-color: #212529;
}
.nav-container-down nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}
.nav-container-down li{
    padding: 0 20px;
}
.nav-container-down a{
    text-decoration: none;
    font-weight: bold;
    color: #F8F9FA;
    text-transform: uppercase;
}
.nav-container-down a:hover{
    text-decoration: underline;
}

/* -----Juegos destacados----- */
.featured-games-container{
    background-image: url("../assets/images/mario.jpg");
    background-repeat: repeat-x;
    padding-bottom: 20px;
}
.featured-games-container h2{
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
}

/* Listas */
.promo li{
    color: coral;
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 2px;
    list-style: square inside;
}

/* Carrusel de imagenes */
.hero-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 2px solid #212529;
    background-color: #9B9C9C;
}

/* Video */
.container-video-promo{
    display: flex;
    justify-content: center;
    background-image: url("../assets/images/joysticks.jpg");
    background-size: cover;
    background-position: center;
}

/* Tablas */
.promo-title, thead{
    background-color: aqua;
    color: crimson;
}

/* Formulario de contacto */
form label,
select{
    display: block;
    margin: 10px 0;
}
