//Variables
$color-davys-grey: #495057;
$color-cultured: #F8F9FA;
$color-cultured-2: #E9ECEF;
$color-cadet-blue-crayola: #ADB5BD;
$color-charleston-green: #212529;
$color-gun-metal: #343A40;
$color-light-gray: #CED4DA;
$color-slate-gray: #6C757D;
$color-gainsboro: #DEE2E6;
$box-shadow: 0 0 10px #00000079;
$primary-font: 'Roboto', sans-serif;
$primary-font-regular: 400;
$primary-font-italic: italic;
$primary-font-bold: 700;

//Listas
$color-list: $color-davys-grey, $color-cultured, $color-cultured-2, $color-cadet-blue-crayola, $color-charleston-green, $color-gun-metal, $color-light-gray, $color-slate-gray, $color-gainsboro;

$font-list: $primary-font-regular, $primary-font-italic, $primary-font-bold;